services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
    #   POSTGRES_USER: admin
    #   POSTGRES_PASSWORD: 12345
    #   POSTGRES_DB: tracker_data_base
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      # PGADMIN_DEFAULT_EMAIL: admin@tracker.com
      # PGADMIN_DEFAULT_PASSWORD: admin123*
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data: